# Temporary files
.*
!.gitignore
/data
/nets/*.net
*.pt
*.jpg
__pycache__
venv
!.env.example

# Build results
submission*
*.mp4
*.avi

### Latex ###
*.synctex.gz
*.aux
*.fls
*.out
*.toc
*.log
*.lof
*.lot
*.bbl
*.bcf
*.blg
*.xmpi
*.run.xml
*.fdb_latexmk
*.synctex*
*.nav
*.snm
*.vrb
*-blx.bib
